<%= form_for(student) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%# f.label :nombre %>
    <%= f.text_field :nombre, class: "form-control", placeholder: "Nombre:" %>
  </div>

  <div class="field form-group">
    <%# f.label :telefono %>
    <%= f.text_field :telefono, class: "form-control", placeholder: "Teléfono:", type: "tel" %>
  </div>

  <div class="field form-group">
    <%# f.label :email %>
    <%= f.text_field :email, class: "form-control", placeholder: "E-mail:", type: "email" %>
  </div>

  <div class="field form-group">
    <%# f.label :email %>
    <%= f.text_field :email2, class: "form-control", placeholder: "E-mail N°2:", type: "email" %>
  </div>

  <div class="field form-group">
    <%# f.label :comoseenteraron %>
    <%= f.text_field :comoseenteraron, class: "form-control", placeholder: "¿Cómo se enteraron de la academia?" %>
  </div>

  <div class="field form-group">
    <%# f.label :descuento %>
    <%= f.text_field :descuento, class: "form-control", placeholder: "Si tienen un descuento, indicar aquí." %>
  </div>

  <div class="field form-group">
    <%# f.label :comentarios %>
    <%= f.text_area :comentarios, class: "form-control", placeholder: "Comentarios:" %>
  </div>

  <div class="field form-group">
    <p>¿El curso está pagado?</p>
    <%# f.text_field :pago, class: "form-control" %>
    <%= f.radio_button :pago, "pagado" %>
    <%= label :pago_pagado, "Sí, está pagado" %>
    <%= f.radio_button :pago, "parcial" %>
    <%= label :pago_parcial, "Está parcialmente pagado" %>
    <%= f.radio_button :pago, "pendiente" %>
    <%= label :pago_pendiente, "No, está pendiente" %>
  </div>

  <div class="field form-group">
    <%= f.text_area :comentarios_pago, class: "form-control", placeholder: "En caso de haber comentarios respecto al pago, indicar aquí:" %>
  </div>

  <div class="actions">
    <%= f.submit 'Inscribir', :class => 'btn btn-block btn-primary my-3' %>
  </div>
<% end %>
