<p id="notice"><%= notice %></p>

<div class="row my-3">
  <div class="col-lg-5 col-xl-6">
    <h3>Alumnas</h3>
  </div>
  <div class="col-lg-5 col-xl-4">
    <%= form_tag search_students_path, method: :get do %>
      <div class="row">
        <div class="col-sm-8 col-md-10 col-lg-8">
          <div class="form-group">
            <%= text_field_tag :buscar, params[:buscar], class: "form-control", placeholder: "Busca alumnas:" %>
          </div>
        </div>
        <div class="col-sm-4 col-md-2 col-lg-4">
          <%= submit_tag "Buscar", class: "btn btn-info btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-2">
    <%= link_to '➕ Nueva', new_student_path, class: "btn btn-block btn-primary", role: "button"  %>
  </div>
</div>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Teléfono</th>
      <th>E-mail</th>
      <th>¿Cómo se enteró de la academia?</th>
      <th>Descuento</th>
      <th>Comentarios</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.nombre %></td>
        <td><%= student.telefono %></td>
        <td><%= student.email %></td>
        <td><%= student.comoseenteraron %></td>
        <td><%= student.descuento %></td>
        <td><%= student.comentarios %></td>
        <td><%= link_to 'Ver', student, class: "btn btn-block btn-info" %></td>
        <td><%= link_to 'Editar', edit_student_path(student), class: "btn btn-block btn-primary" %></td>
        <td><%= link_to 'Borrar', student, class: "btn btn-block btn-danger", method: :delete, data: { confirm: '¿Segura?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
