<div class="card">
  <div class="card-block">
    <p class="lead">Agenda de hoy</p>
    <%= calendar number_of_days: 1, events: @meetings do |date, meetings| %>
      <%= date %>

      <% meetings.each do |meeting| %>
        <div>
          <p class="lead"><a href="<%= edit_meeting_path(meeting) %>"><%= meeting.bloggable.nombre1 %> y <%= meeting.bloggable.nombre2 %></a></p>
          <p><%= meeting.start_time %></p>
        </div>
      <% end %>

    <% end %>
    <p><a href="<%= agenda_path %>" target="_top">Revisar agenda</a></p>
  </div>
</div>
