<div class="card">
  <div class="card-block">
    <p class="lead">Agenda de hoy</p>
    <%= calendar number_of_days: 1, events: @meetings do |date, meetings| %>
      <%= date %>

      <% meetings.each do |meeting| %>
        <div>
          <p class="lead"><%= link_to meeting.bloggable.nombre1, edit_lesson_path(meeting) %></a></p>
          <p><%= meeting.start_time %></p>
        </div>
      <% end %>

    <% end %>
    <p><%= link_to "Clases de la semana", agenda_path, class: "btn btn-block btn-primary", role: "button" %></p>
  </div>
</div>
