<%= form_for(lesson) do |f| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="alert alert-info alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    Estás guardando una clase para <strong><%= lesson.wedding.nombre1 %> <%= lesson.wedding.apellido1 %> y <%= lesson.wedding.nombre2 %> <%= lesson.wedding.apellido2 %></strong>. Si es que no corresponde, te recomendamos volver a <%= link_to 'la página de matrimonios', weddings_path %>.
  </div>
  <%= f.text_field :wedding_id, class: "hidden-xs-up" %>
  <div class="field form-group">
    <%# f.label :fecha %>
    Fecha de inscripción:
    <%= f.date_select :fecha, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :titulo %>
    <%= f.text_field :titulo, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :notas %>
    <%= f.text_area :notas, class: "form-control" %>
  </div>

  <div class="field form-group">
    <p>Hora de inicio</p>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field form-group">
    <p>Hora de término</p>
    <%= f.datetime_select :end_time %>
  </div>

  <div class="actions">
    <%= f.submit 'Registrar notas de clase', :class => 'btn btn-block btn-primary' %>
  </div>
<% end %>
