<%= form_for(lesson) do |f| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="alert alert-info alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    Estás trabajando con un <strong><%= cookies[:tipo_blog] %></strong> de <strong><%= lesson.bloggable.nombre1 %></strong>. Si no está correcto, vuelve donde corresponda.
  </div>

  <div class="card">
    <div class="card-block">
      <p class="lead">¿Qué vas a hacer?</p>
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-outline-info btn-md btn-block" type="button" data-toggle="collapse" data-target="#colapsarAgenda" aria-expanded="false" aria-controls="colapsarAgenda">
            Agendar esta clase
          </button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-outline-success btn-md btn-block" type="button" data-toggle="collapse" data-target="#colapsarNotas" aria-expanded="false" aria-controls="colapsarNotas">
            Agregar sus notas
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="collapse" id="colapsarAgenda">
    <div class="card card-block">
      <%= f.text_field :bloggable_type, class: "hidden-xs-up" %>
      <%= f.text_field :bloggable_id, class: "hidden-xs-up" %>
      <div class="hidden-xs-up">
        <%= f.date_select :fecha %>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="field form-group">
            <p>Hora de inicio</p>
            <%= f.datetime_select :start_time, {start_hour: 8, end_hour: 21, minute_step: 15}, class: "custom-select" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="field form-group">
            <p>Hora de término</p>
            <%= f.datetime_select :end_time, {start_hour: 8, end_hour: 21, minute_step: 15}, class: "custom-select" %>
          </div>
        </div>
      </div>
      <div class="field form-group">
        <p>¿La clase está pagada?</p>
        <%# f.text_field :pago, class: "form-control" %>
        <%= f.radio_button :pago, "pagado" %>
        <%= label :pago_pagado, "Clase pagada" %>
        <%= f.radio_button :pago, "parcial" %>
        <%= label :pago_parcial, "50% de la clase pagada" %>
        <%= f.radio_button :pago, "pendiente" %>
        <%= label :pago_pendiente, "Pago pendiente" %>
      </div>
    </div>
  </div>

  <div class="collapse" id="colapsarNotas">
    <div class="card card-block">
      <div class="field form-group">
        <%= f.label :titulo %>
        <%= f.text_field :titulo, class: "form-control" %>
      </div>
      <div class="field form-group">
        <%= f.label :notas %>
        <%= f.text_area :notas, class: "form-control" %>
      </div>
      <div class="field form-group">
        <p class="lead">Video de Clase</p>
        <%= f.file_field :video %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Registrar clase', :class => 'btn btn-block btn-primary' %>
  </div>
<% end %>
