<%= form_for(lesson) do |f| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="card card-body">
      <%= f.text_field :bloggable_type, class: "d-none" %>
      <%= f.text_field :bloggable_id, class: "d-none" %>
      <div class="d-none">
        <%= f.date_select :fecha %>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="field form-group">
            <p>Hora de inicio</p>
            <%= f.datetime_select :start_time, {start_hour: 8, end_hour: 23, minute_step: 15}, class: "custom-select" %>
          </div>
        </div>
        <div class="col-12">
          <div class="field form-group">
            <p>Hora de término</p>
            <%= f.datetime_select :end_time, {start_hour: 8, end_hour: 23, minute_step: 15}, class: "custom-select" %>
          </div>
        </div>
      </div>
    </div>

  <button class="btn btn-outline-success btn-md btn-block my-2" type="button" data-toggle="collapse" data-target="#colapsarNotas" aria-expanded="false" aria-controls="colapsarNotas">
      Ingresa las notas de la clase
  </button>
  <div class="collapse" id="colapsarNotas">
    <div class="card card-body">
      <div class="field form-group">
        <%= f.label :titulo %>
        <%= f.text_field :titulo, class: "form-control" %>
      </div>
      <div class="field form-group">
        <%= f.label :profesora %>
        <%= f.text_field :profesora, class: "form-control" %>
      </div>
      <div class="field form-group">
        <%= f.label :notas %>
        <%= f.text_area :notas, class: "form-control" %>
      </div>
      <div class="field form-group">
        <p class="lead">Videos de Clase</p>
        <%= f.file_field :videos, multiple: true %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Registrar clase', :class => 'btn btn-block btn-primary my-2' %>
  </div>
<% end %>
