<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-block">
    <p class="lead">Agenda semanal</p>
    <%= week_calendar events: @meetings do |date, meetings| %>
      <%= date %>

      <% meetings.each do |meeting| %>
        <div>
          <%= meeting.titulo %> <%= meeting.start_time %>
        </div>
      <% end %>

    <% end %>
  </div>
</div>
