<div class="card">
  <div class="card-block">
    <div id="filterrific_results">
      <div>
        <%= page_entries_info weddings %>
      </div>
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th><%= filterrific_sorting_link(@filterrific, :nombre1) %></th>
            <th>Nombre del novio</th>
            <th>Mail de la novia</th>
            <th></th>
          </tr>
          <% weddings.each do |wedding| %>
          <tr>
            <td><%= link_to(wedding.nombre1, wedding_path(wedding)) %></td>
            <td><%= wedding.nombre2 %></td>
            <td><%= wedding.email_novia %></td>
            <td><%= link_to 'Ver', wedding, class: "btn btn-block btn-info" %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<%= will_paginate weddings %>
