<%= form_for(wedding) do |f| %>
  <% if wedding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wedding.errors.count, "error") %> prohibited this wedding from being saved:</h2>

      <ul>
      <% wedding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.text_field :user_id, class: "d-none" %>
    <div class="row">
      <div class="col-sm-6">
        <p>Datos de la novia</p>
        <div class="field form-group">
          <%= f.text_field :nombre1, class: 'form-control', placeholder: 'Nombre de la novia' %>
        </div>
        <div class="field form-group">
          <%= f.text_field :telefono_novia, class: 'form-control', placeholder: 'Teléfono de la novia' %>
        </div>
        <div class="field form-group">
          <%= f.text_field :email_novia, class: 'form-control', placeholder: 'E-mail de la novia' %>
        </div>
        <div class="field form-group">
          <%= f.text_field :rut_novia, class: 'form-control', placeholder: 'RUT de la novia' %>
        </div>
        <div class="field form-group">
          <%= f.text_field :instagram_novia, class: 'form-control', placeholder: 'Cuenta en Instagram de la novia (URL)', type: "url" %>
        </div>
      </div>
      <div class="col-sm-6">
        <p>Datos del novio</p>
        <div class="field form-group">
          <%= f.text_field :nombre2, class: 'form-control', placeholder: 'Nombre del novio' %>
        </div>
        <div class="field form-group">
          <%= f.text_field :telefono_novio, class: 'form-control', placeholder: 'Teléfono del novio' %>
        </div>
        <div class="field form-group">
          <%= f.text_field :email_novio, class: 'form-control', placeholder: 'E-mail del novio' %>
        </div>
        <div class="field form-group">
          <%= f.text_field :rut_novio, class: 'form-control', placeholder: 'RUT del novio' %>
        </div>
      </div>
    </div>
    <button class="btn btn-primary my-3" type="button" data-toggle="collapse" data-target="#collapseNovias" aria-expanded="false" aria-controls="collapseNovias">
      ¿Necesitas agregar a más personas?
    </button>
    <div class="collapse" id="collapseNovias">
      <div class="card card-body">
        <div class="field form-group">
          <%= f.text_area :maspersonas, class: 'form-control', placeholder: 'Agrega a las personas que sean necesarias.' %>
        </div>
      </div>
    </div>

    <p class="lead">¿La persona que hizo el contacto no es la novia ni el novio?</p>
    <div class="field form-group">
      <%= f.text_area :contacto, class: 'form-control', placeholder: 'Ingresa todos los datos del contacto (nombre, teléfono y correo electrónico)' %>
    </div>

    <div class="field form-group">
      <p>Fecha del Matrimonio:</p>
      <%= f.date_select :fecha_matri, class: 'custom-select' %>
    </div>

    <div class="field form-group origen">
      <%= f.text_field :origen, class: 'form-control', placeholder: '¿Cómo se enteraron de la academia?' %>
    </div>

    <div class="field form-group">
      <%= f.text_field :tipo_descuento, class: 'form-control', placeholder: '¿Tienen un descuento? Indicar aquí' %>
    </div>

    <p class="lead">Foto de novios</p>
    <div class="field form-group">
      <%= f.file_field :avatar %>
      <label>
        <%= f.check_box :remove_avatar %>
        Quitar foto de novios
      </label>
    </div>

    <p class="lead">Diseño de Piso</p>
    <div class="field form-group">
      <%= f.file_field :floordesign %>
      <label>
        <%= f.check_box :remove_floordesign %>
        Quitar diseño de piso
      </label>
    </div>

    <p class="lead">¿Qué canción van a usar?</p>
    <div class="card-group">
      <div class="card mb-3">
        <div class="card-body">
          <p class="card-text">Link de YouTube:</p>
          <div class="field form-group">
            <%= f.text_field :url_vals, class: 'form-control', placeholder: 'URL de YouTube (formato: http://youtu.be/xxxxxxxxx):' %>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <p class="card-text">Subir canción:</p>
          <div class="field form-group">
            <%= f.file_field :song %>
            <label>
              <%= f.check_box :remove_song %>
              Quitar canción
            </label>
          </div>
        </div>
      </div>
    </div>

    <p class="lead">Comentarios (pueden agregarse más adelante)</p>
    <div class="field form-group">
      <%= f.text_area :comentarios, class: 'form-control', placeholder: 'Comentarios generales:' %>
    </div>
    <div class="field form-group">
      <%= f.text_area :comentarios_pago, class: 'form-control', placeholder: 'Comentarios respecto al pago:' %>
    </div>

    <div class="actions">
      <%= f.submit 'Inscribir matrimonio', :class => 'btn btn-block btn-primary' %>
    </div>

<% end %>
