<%= form_for(wedding) do |f| %>
  <% if wedding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wedding.errors.count, "error") %> prohibited this wedding from being saved:</h2>

      <ul>
      <% wedding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="col-sm-6">
        <p>Datos de la novia</p>
        <div class="field form-group">
          <%# f.label :nombre1 %>
          <%= f.text_field :nombre1, class: 'form-control', placeholder: 'Nombre de la novia' %>
        </div>
        <div class="field form-group">
          <%# f.label :apellido1 %>
          <%= f.text_field :apellido1, class: 'form-control', placeholder: 'Apellido de la novia' %>
        </div>
        <div class="field form-group">
          <%# f.label :apellido1 %>
          <%= f.text_field :telefono_novia, class: 'form-control', placeholder: 'Teléfono de la novia' %>
        </div>
        <div class="field form-group">
          <%# f.label :apellido1 %>
          <%= f.text_field :email_novia, class: 'form-control', placeholder: 'E-mail de la novia' %>
        </div>
      </div>
      <div class="col-sm-6">
        <p>Datos del novio</p>
        <div class="field form-group">
          <%# f.label :nombre2 %>
          <%= f.text_field :nombre2, class: 'form-control', placeholder: 'Nombre del novio' %>
        </div>
        <div class="field form-group">
          <%# f.label :apellido2 %>
          <%= f.text_field :apellido2, class: 'form-control', placeholder: 'Apellido del novio' %>
        </div>
        <div class="field form-group">
          <%# f.label :apellido1 %>
          <%= f.text_field :telefono_novio, class: 'form-control', placeholder: 'Teléfono del novio' %>
        </div>
        <div class="field form-group">
          <%# f.label :apellido1 %>
          <%= f.text_field :email_novio, class: 'form-control', placeholder: 'E-mail del novio' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p></p>
        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            ¿Necesitas agregar a más personas?
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="row">
            <div class="col-sm-6">
              <div class="card card-block">
                <div class="field form-group">
                  <%= f.text_field :nombre3, class: 'form-control', placeholder: 'Nombre de la tercera persona' %>
                </div>
                <div class="field form-group">
                  <%= f.text_field :apellido3, class: 'form-control', placeholder: 'Apellido de la tercera persona' %>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card card-block">
                <div class="field form-group">
                  <%= f.text_field :nombre4, class: 'form-control', placeholder: 'Nombre de la cuarta persona' %>
                </div>
                <div class="field form-group">
                  <%= f.text_field :apellido4, class: 'form-control', placeholder: 'Apellido de la cuarta persona' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>¿La persona que hizo el contacto no es la novia ni el novio?</p>
        <div class="field form-group">
          <%= f.text_field :nombre_contacto, class: 'form-control', placeholder: 'Nombre y apellido del contacto' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="field form-group">
          <%= f.number_field :celular, class: 'form-control', placeholder: 'Número de teléfono', type: 'tel' %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="field form-group">
          <%= f.text_field :mail, class: 'form-control', placeholder: 'Correo electrónico', type: 'email' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="field form-group">
          <%# f.label :fecha_matri %>
          <p>Fecha del Matrimonio:</p>
          <%= f.date_select :fecha_matri, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="field form-group origen">
          <%= f.text_field :origen, class: 'form-control', placeholder: '¿Cómo se enteraron de la academia?' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="field form-group">
          <%# f.label :url_vals %>
          <%= f.text_field :tipo_descuento, class: 'form-control', placeholder: '¿Tienen un descuento? Indicar aquí' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="field form-group">
          <%= f.label :comentarios %>
          <%= f.text_area :comentarios, class: 'form-control', placeholder: '(Pueden agregarse más adelante)' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="actions">
          <%= f.submit 'Inscribir matrimonio', :class => 'btn btn-block btn-primary' %>
          <%# Debe arreglarse esto, una vez implementado el I18n %>
        </div>
      </div>
    </div>


<% end %>
