<div class="card">
  <div class="card-block">
    <div id="filterrific_results">
      <div>
        <%= page_entries_info weddings %>
      </div>
      <table class="table">
        <tr>
          <th>Nombre de la novia</th>
          <th>E-mail de la novia</th>
          <th>Teléfono de la novia</th>
          <th></th>
        </tr>
        <% weddings.each do |wedding| %>
        <tr>
          <td><%= link_to(wedding.nombre1, wedding_path(wedding)) %></td>
          <td><%= wedding.email_novia %></td>
          <td><%= wedding.telefono_novia %></td>
          <td><%= link_to 'Ver', wedding, class: "btn btn-block btn-info" %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<%= will_paginate weddings %>
