<p id="notice"><%= notice %></p>

<div class="alert alert-info alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Se muestran los matrimonios realizados hasta <strong>hace 3 días</strong>. <%= link_to 'Ver todos', todos_weddings_path %>.
</div>
<div class="row my-3">
  <div class="col-lg-3 col-xl-4">
    <h3>Matrimonios</h3>
  </div>
  <div class="col-lg-5 col-xl-4">
    <%= form_tag search_weddings_path, method: :get do %>
      <div class="row">
        <div class="col-sm-8 col-md-10 col-lg-8 my-1">
          <div class="form-group">
            <%= text_field_tag :buscar, params[:buscar], class: "form-control", placeholder: "Busca matrimonios:" %>
          </div>
        </div>
        <div class="col-sm-4 col-md-2 col-lg-4 my-1">
          <%= submit_tag "Buscar", class: "btn btn-info btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-2 my-1">
    <%= link_to '🗃 Descargar', weddings_path(format: :csv), :class => 'btn btn-block btn-secondary', :role => 'button'  %>
  </div>
  <div class="col-lg-2 my-1">
    <%= link_to '➕ Nuevo', new_wedding_path, class: "btn btn-block btn-primary", role: "button"  %>
  </div>
</div>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Nombre de la novia</th>
      <th>Nombre del novio</th>
      <th>Fecha de matrimonio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weddings.each do |wedding| %>
      <tr>
        <td><%= link_to(wedding.nombre1, wedding_path(wedding)) %></td>
        <td><%= wedding.nombre2 %></td>
        <td><%= l wedding.fecha_matri %></td>
        <td><%= link_to 'Ver', wedding, class: "btn btn-block btn-info" %></td><%# i18n!! %>
        <td><%= link_to 'Editar', edit_wedding_path(wedding), class: "btn btn-block btn-primary" %></td>
        <td><%= link_to 'Borrar', wedding, class: "btn btn-block btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
