<div class="row my-1">
  <div class="col-md-8">
    <h3>Matrimonios</h3>
  </div>
  <div class="col-md-4">
    <%= link_to '➕ Nuevo', new_wedding_path, class: "btn btn-block btn-primary", role: "button"  %>
  </div>
</div>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Nombre de la novia</th>
      <th>Nombre del novio</th>
      <th>Fecha de matrimonio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weddings.each do |wedding| %>
      <tr>
        <td><%= link_to(wedding.nombre1, wedding_path(wedding)) %></td>
        <td><%= wedding.nombre2 %></td>
        <td><%= l wedding.fecha_matri %></td>
        <td><%= link_to 'Ver', wedding, class: "btn btn-block btn-info" %></td><%# i18n!! %>
        <td><%= link_to 'Editar', edit_wedding_path(wedding), class: "btn btn-block btn-primary" %></td>
        <td><%= link_to 'Borrar', wedding, class: "btn btn-block btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @weddings %>
</div>
