<div class="row my-3">
  <div class="col-lg-4">
    <h3>Matrimonio:</h3>
    <p class="lead"><%= @wedding.nombre1 %> y <%= @wedding.nombre2 %></p>
  </div>
  <div class="col-lg-8">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <p><%= link_to '⬅ Volver', weddings_path, class: "btn btn-block btn-secondary", role: "button" %></p>
      </div>
      <div class="col-md-6 col-lg-3">
        <p><%= link_to '✏ Editar', edit_wedding_path(@wedding), class: "btn btn-block btn-info", role: "button" %></p>
      </div>
      <div class="col-md-6 col-lg-3">
        <p><%= link_to '📦 Archivar', new_archive_path, class: "btn btn-block btn-warning", role: "button" %></p>
      </div>
      <div class="col-md-6 col-lg-3">
        <p><%= link_to '🗑 Borrar', @wedding, class: "btn btn-block btn-danger", method: :delete, data: { confirm: '¿Segura?' } %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= link_to '➕ Agregar nueva clase', new_lesson_path, class: "btn btn-block btn-primary", role: "button" %>
      </div>
    </div>
  </div>
</div>
<hr>

<p id="notice"><%= notice %></p>

<div class="card card-inverse card-info mb-3">
  <div class="card-block">
    <h6 class="card-subtitle text-center">Fecha de Matrimonio:</h6>
    <h3 class="card-title text-center"><%= l @wedding.fecha_matri %></h3>
  </div>
</div>

<div class="card-group">
    <div class="card mb-3">
      <div class="card-block">
        <p>Novia:</p>
        <p class="lead"><%= @wedding.nombre1 %></p>
        <%# Mostrar link al teléfono y mail de novia, novio y contacto %>
        <p class="lead"><%= mail_to @wedding.email_novia %></p>
        <p class="lead"><%= link_to @wedding.telefono_novia, "tel:#{@wedding.telefono_novia}" %></p>
        <p class="lead"><%= @wedding.rut_novia %></p>
        <p class="lead"><%= @wedding.instagram_novia %></p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-block">
        <p>Novio:</p>
        <p class="lead"><%= @wedding.nombre2 %></p>
        <p class="lead"><%= mail_to @wedding.email_novio %></p>
        <p class="lead"><%= link_to @wedding.telefono_novio, "tel:#{@wedding.telefono_novio}" %></p>
      </div>
    </div>
</div>

<div class="card-group">
  <div class="card mb-3">
    <div class="card-block">
      <p class="lead">Diseño de Piso</p>
    </div>
    <%= image_tag @wedding.floordesign, class: "img-fluid d-block mx-auto" %>
  </div>
  <div class="card mb-3">
    <div class="card-block">
      <p class="lead">Canción</p>
    </div>
    <%= link_to @wedding.url_vals, @wedding.url_vals, class: 'embed' %>
  </div>
</div>

<button class="btn btn-outline-info btn-md btn-block my-3" type="button" data-toggle="collapse" data-target="#colapsarPago" aria-expanded="false" aria-controls="colapsarPago">
  Información sobre clases
</button>
<div class="collapse" id="colapsarPago">
      <div class="card mb-3">
        <div class="card-block">
          <h4 class="card-title">Información sobre clases</h4>
          <p class="card-text">Comentarios del pago: <%= @wedding.comentarios_pago %></li>
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Clase</th>
                <th>Hora</th>
                <th>¿Está pagada?</th>
                <th colspan="2"></th>
              </tr>
              <% @wedding.lessons.each do |lesson| %>
              <tr>
                <td><%= lesson.titulo %></td>
                <td><%= lesson.start_time.strftime("%d/%m/%Y %H:%M") %></td>
                <td>
                  <% if lesson.pago == "pagado" %>
                    <p>Sí, está pagada.</p>
                  <% elsif lesson.pago == "parcial" %>
                    <p>Está pagado el 50%. Debe pagarse el saldo.</p>
                  <% elsif lesson.pago == "pendiente" %>
                    <p>No está pagada.</p>
                  <% end %>
                </td>
                <td><%= link_to "Ver", lesson, class: "btn btn-block btn-info", role: "button" %></td>
                <td><%= link_to "Editar", edit_lesson_path(lesson), class: "btn btn-block btn-primary", role: "button" %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
</div>

<button class="btn btn-outline-warning btn-md btn-block my-3" type="button" data-toggle="collapse" data-target="#colapsarInfo" aria-expanded="false" aria-controls="colapsarInfo">
  Más información
</button>
<div class="collapse" id="colapsarInfo">
  <div class="row">
    <div class="col-12 mb-3">
      <ul class="list-group">
        <li class="list-group-item">¿Cómo se enteraron de la Academia?: <%= @wedding.origen %></li>
        <li class="list-group-item">Descuento: <%= @wedding.tipo_descuento %></li>
        <li class="list-group-item">Comentarios: <%= @wedding.comentarios %></li>
      </ul>
    </div>
  </div>
</div>
