<%= form_for(course) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :estilo %>
    <%= f.text_field :estilo %>
  </div>

  <div class="field">
    <%= f.label :edades %>
    <%= f.text_field :edades %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
