<%= form_for(course) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%# f.label :nombre %>
    <%= f.text_field :nombre, class: 'form-control', placeholder: 'Nombre del curso' %>
  </div>

  <div class="field form-group">
    <%= f.label :estilo %>
    <%= f.text_field :estilo, class: 'form-control', placeholder: 'Estilo del curso' %>
  </div>

  <div class="field form-group">
    <%= f.label :edades %>
    <%= f.text_field :edades, class: 'form-control', placeholder: 'Edades del curso' %>
  </div>

  <div class="field form-group">
    <p class="lead">Fotos de curso</p>
    <%= f.file_field :photos, multiple: true %>
  </div>

  <div class="actions">
    <%= f.submit 'Inscribir curso', :class => 'btn btn-block btn-primary' %>
  </div>
<% end %>
