<p id="notice"><%= notice %></p>

<div class="row my-3">
  <div class="col-lg-5 col-xl-6">
    <h3>Cursos</h3>
  </div>
  <div class="col-lg-5 col-xl-4">
    <%= form_tag search_courses_path, method: :get do %>
      <div class="row">
        <div class="col-sm-8 col-md-10 col-lg-8">
          <div class="form-group">
            <%= text_field_tag :buscar, params[:buscar], class: "form-control", placeholder: "Busca cursos:" %>
          </div>
        </div>
        <div class="col-sm-4 col-md-2 col-lg-4">
          <%= submit_tag "Buscar", class: "btn btn-info btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-2">
    <%= link_to '➕ Nuevo', new_course_path, class: "btn btn-block btn-primary", role: "button"  %>
  </div>
</div>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Estilo</th>
      <th>Edades</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.nombre %></td>
        <td><%= course.estilo %></td>
        <td><%= course.edades %></td>
        <td><%= link_to 'Ver', course, class: "btn btn-block btn-info" %></td>
        <td><%= link_to 'Editar', edit_course_path(course), class: "btn btn-block btn-primary" %></td>
        <td><%= link_to 'Borrar', course, class: "btn btn-block btn-danger", method: :delete, data: { confirm: '¿Segura?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Course', new_course_path, class: "btn btn-block btn-secondary my-3", role: "button" %>
