<p id="notice"><%= notice %></p>

<div class="row my-1">
  <div class="col-xs-8">
    <h3>Cursos</h3>
  </div>
  <div class="col-xs-4">
    <%= link_to '➕ Nuevo', new_course_path, class: "btn btn-block btn-primary", role: "button"  %>
  </div>
</div>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Estilo</th>
      <th>Edades</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.nombre %></td>
        <td><%= course.estilo %></td>
        <td><%= course.edades %></td>
        <td><%= link_to 'Ver', course, class: "btn btn-block btn-info" %></td>
        <td><%= link_to 'Editar', edit_course_path(course), class: "btn btn-block btn-primary" %></td>
        <td><%= link_to 'Borrar', course, class: "btn btn-block btn-danger", method: :delete, data: { confirm: '¿Segura?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Course', new_course_path, class: "btn btn-block btn-secondary my-1", role: "button" %>
