<div class="row my-3">
  <div class="col-md-4">
    <h3>Detalle de curso</h3>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-4">
        <p><%= link_to '⬅ Volver', courses_path, class: "btn btn-block btn-secondary", role: "button" %></p>
      </div>
      <div class="col-md-4">
        <p><%= link_to '✏ Editar clase', edit_course_path(@course), class: "btn btn-block btn-warning", role: "button" %></p>
      </div>
      <div class="col-md-4">
        <p><%= link_to '🗑 Borrar', @course, class: "btn btn-block btn-danger", method: :delete, data: { confirm: '¿Segura?' } %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= link_to 'Agregar nueva alumna', new_student_path, class: "btn btn-block btn-primary", role: "button" %>
      </div>
    </div>
  </div>
</div>
<hr>

<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-block">
    <h2 class="card-title text-center"><%= @course.nombre %></h1>
    <ul class="list-group">
      <li class="list-group-item">Estilo: <%= @course.estilo %></li>
      <li class="list-group-item">Edades: <%= @course.edades %></li>
    </ul>
    <p class="lead">Fotos del curso</p>
    <div class="card-group">
      <% @course.photos.each do |photo| %>
        <div class="card">
          <%= image_tag photo, class: "card-img-top" %>
        </div>
      <% end %>
      </div>
  </div>
</div>

<div class="card">
  <div class="card-block">
    <h4>Información sobre alumnas:</h4>
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Nombre</th>
          <th>E-mail</th>
          <th>Situación de pago</th>
          <th colspan="3"></th>
        </tr>
        <% @course.students.each do |student| %>
        <tr>
          <td><%= student.nombre %></td>
          <td><%= student.email %></td>
          <td></td>
          <td><%= link_to "Ver", lesson, class: "btn btn-block btn-info", role: "button" %></td>
          <td><%= link_to "Editar", edit_lesson_path(lesson), class: "btn btn-block btn-primary", role: "button" %></td>
          <td><%= link_to 'Borrar', lesson, class: "btn btn-block btn-danger", method: :delete, data: { confirm: '¿Segura?' } %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
