<%= form_for(archive) do |f| %>
  <% if archive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(archive.errors.count, "error") %> prohibited this archive from being saved:</h2>

      <ul>
      <% archive.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%# f.label :nombre %>
    <%= f.text_field :nombre, class: "form-control", placeholder: "Nombre:" %>
  </div>

  <div class="field form-group">
    <%# f.label :email %>
    <%= f.text_field :email, class: "form-control", placeholder: "E-mail:", type: "email" %>
  </div>

  <div class="field form-group">
    <%# f.label :telefono %>
    <%= f.text_field :telefono, class: "form-control", placeholder: "Teléfono:", type: "tel" %>
  </div>

  <div class="field form-group">
    <%# f.label :procedencia %>
    <%= f.text_field :procedencia, class: "form-control", placeholder: "Procedencia:" %>
  </div>

  <div class="field form-group">
    <%# f.label :comentarios %>
    <%= f.text_area :comentarios, class: "form-control", placeholder: "Comentarios:" %>
  </div>

  <div class="actions">
    <%= f.submit "Archivar", class: "btn btn-block btn-primary" %>
  </div>
<% end %>
