<%= form_for(special_class) do |f| %>
  <% if special_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(special_class.errors.count, "error") %> prohibited this special_class from being saved:</h2>

      <ul>
      <% special_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.text_field :nombre1, class: 'form-control', placeholder: 'Nombre de la 1° persona' %>
  </div>

  <div class="field form-group">
    <%= f.text_field :nombre2, class: 'form-control', placeholder: 'Nombre de la 2° persona' %>
  </div>

  <button class="btn btn-block btn-primary my-3" type="button" data-toggle="collapse" data-target="#collapseClases" aria-expanded="false" aria-controls="collapseClases">
    ¿Necesitas agregar a más personas?
  </button>
  <div class="collapse" id="collapseClases">
    <div class="card card-body mb-3">
      <div class="field form-group">
        <%= f.text_field :nombre3, class: 'form-control', placeholder: 'Nombre de la 3° persona' %>
      </div>
      <div class="field form-group">
        <%= f.text_field :nombre4, class: 'form-control', placeholder: 'Nombre de la 4° persona' %>
      </div>
      <div class="field form-group">
        <%= f.text_field :nombre5, class: 'form-control', placeholder: 'Nombre de la 5° persona' %>
      </div>
      <div class="field form-group">
        <%= f.text_field :nombre6, class: 'form-control', placeholder: 'Nombre de la 6° persona' %>
      </div>
    </div>
  </div>

  <div class="field form-group">
    <%= f.text_field :contacto, class: 'form-control', placeholder: 'Contacto (si es que es un tercero)' %>
  </div>

  <div class="field form-group">
    <%= f.text_field :email, class: 'form-control', placeholder: 'E-mail de contacto', type: "email" %>
  </div>

  <div class="field form-group">
    <%= f.text_field :email2, class: 'form-control', placeholder: 'E-mail de contacto N°2', type: "email" %>
  </div>

  <div class="field form-group">
    <%= f.text_field :telefono, class: 'form-control', placeholder: 'Teléfono de contacto', type: "tel" %>
  </div>

  <div class="field form-group">
    <%= f.text_field :comoseenteraron, class: 'form-control', placeholder: '¿Cómo supieron de la academia?' %>
  </div>

  <div class="field form-group">
    <%= f.text_field :descuento, class: 'form-control', placeholder: '¿Tienen un descuento? Indicar aquí' %>
  </div>

  <div class="field form-group">
    <%= f.text_field :comentarios, class: 'form-control', placeholder: '¿Tienes comentarios? Indicar aquí' %>
  </div>

  <div class="field form-group">
    <%= f.text_area :comentarios_pago, class: "form-control", placeholder: "En caso de haber comentarios respecto al pago, indicar aquí:" %>
  </div>

  <div class="actions">
    <%= f.submit 'Inscribir clase particular', :class => 'btn btn-block btn-primary mb-3' %>
  </div>
<% end %>
