<div class="row my-3">
  <div class="col-lg-5 col-xl-6 my-3">
    <h3>Clases Particulares</h3>
  </div>
  <div class="col-lg-5 col-xl-4 my-3">
    <%= form_tag search_special_classes_path, method: :get do %>
      <div class="row">
        <div class="col-sm-8 col-md-10 col-lg-8">
          <div class="form-group">
            <%= text_field_tag :buscar, params[:buscar], class: "form-control", placeholder: "Busca clases particulares:" %>
          </div>
        </div>
        <div class="col-sm-4 col-md-2 col-lg-4">
          <%= submit_tag "Buscar", class: "btn btn-info btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-2 my-3">
    <%= link_to '➕ Nueva', new_special_class_path, class: "btn btn-block btn-primary", role: "button"  %>
  </div>
</div>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Nombre 1° persona</th>
      <th>Nombre 2° persona</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @special_classes.each do |special_class| %>
      <tr>
        <td><%= link_to(special_class.nombre1, special_class) %></td>
        <td><%= special_class.nombre2 %></td>
        <td><%= link_to 'Ver', special_class, class: "btn btn-block btn-info" %></td>
        <td><%= link_to 'Editar', edit_special_class_path(special_class), class: "btn btn-block btn-primary" %></td>
        <td><%= link_to 'Borrar', special_class, class: "btn btn-block btn-danger", method: :delete, data: { confirm: '¿Segura?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Nueva Clase Particular', new_special_class_path, class: "btn btn-block btn-secondary my-3", role: "button" %>
