<p id="notice"><%= notice %></p>

<div class="row my-1">
  <div class="col-xs-8">
    <h3>Clases Particulares</h3>
  </div>
  <div class="col-xs-4">
    <%= link_to '➕ Nueva', new_special_class_path, class: "btn btn-block btn-primary", role: "button"  %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Nombre1</th>
      <th>Nombre2</th>
      <th>Nombre3</th>
      <th>Nombre4</th>
      <th>Nombre5</th>
      <th>Nombre6</th>
      <th>Contacto</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Comoseenteraron</th>
      <th>Descuento</th>
      <th>Comentarios</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @special_classes.each do |special_class| %>
      <tr>
        <td><%= special_class.nombre1 %></td>
        <td><%= special_class.nombre2 %></td>
        <td><%= special_class.nombre3 %></td>
        <td><%= special_class.nombre4 %></td>
        <td><%= special_class.nombre5 %></td>
        <td><%= special_class.nombre6 %></td>
        <td><%= special_class.contacto %></td>
        <td><%= special_class.email %></td>
        <td><%= special_class.telefono %></td>
        <td><%= special_class.comoseenteraron %></td>
        <td><%= special_class.descuento %></td>
        <td><%= special_class.comentarios %></td>
        <td><%= link_to 'Ver', special_class, class: "btn btn-block btn-info" %></td>
        <td><%= link_to 'Editar', edit_special_class_path(special_class), class: "btn btn-block btn-primary" %></td>
        <td><%= link_to 'Borrar', special_class, class: "btn btn-block btn-danger", method: :delete, data: { confirm: '¿Segura?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Special Class', new_special_class_path, class: "btn btn-block btn-secondary my-1", role: "button" %>
