<p id="notice"><%= notice %></p>

<h1>Special Classes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre1</th>
      <th>Nombre2</th>
      <th>Nombre3</th>
      <th>Nombre4</th>
      <th>Nombre5</th>
      <th>Nombre6</th>
      <th>Contacto</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Comoseenteraron</th>
      <th>Descuento</th>
      <th>Comentarios</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @special_classes.each do |special_class| %>
      <tr>
        <td><%= special_class.nombre1 %></td>
        <td><%= special_class.nombre2 %></td>
        <td><%= special_class.nombre3 %></td>
        <td><%= special_class.nombre4 %></td>
        <td><%= special_class.nombre5 %></td>
        <td><%= special_class.nombre6 %></td>
        <td><%= special_class.contacto %></td>
        <td><%= special_class.email %></td>
        <td><%= special_class.telefono %></td>
        <td><%= special_class.comoseenteraron %></td>
        <td><%= special_class.descuento %></td>
        <td><%= special_class.comentarios %></td>
        <td><%= link_to 'Show', special_class %></td>
        <td><%= link_to 'Edit', edit_special_class_path(special_class) %></td>
        <td><%= link_to 'Destroy', special_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Special Class', new_special_class_path %>
