<div class="row my-1">
  <div class="col-md-8">
    <h3>Clases Particulares</h3>
  </div>
  <div class="col-md-4">
    <%= link_to '➕ Nueva', new_special_class_path, class: "btn btn-block btn-primary", role: "button"  %>
  </div>
</div>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Nombre 1° persona</th>
      <th>Nombre 2° persona</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @special_classes.each do |special_class| %>
      <tr>
        <td><%= link_to(special_class.nombre1, special_class(special_class)) %></td>
        <td><%= special_class.nombre2 %></td>
        <td><%= link_to 'Ver', special_class, class: "btn btn-block btn-info" %></td>
        <td><%= link_to 'Editar', edit_special_class_path(special_class), class: "btn btn-block btn-primary" %></td>
        <td><%= link_to 'Borrar', special_class, class: "btn btn-block btn-danger", method: :delete, data: { confirm: '¿Segura?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
