<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre1:</strong>
  <%= @special_class.nombre1 %>
</p>

<p>
  <strong>Nombre2:</strong>
  <%= @special_class.nombre2 %>
</p>

<p>
  <strong>Nombre3:</strong>
  <%= @special_class.nombre3 %>
</p>

<p>
  <strong>Nombre4:</strong>
  <%= @special_class.nombre4 %>
</p>

<p>
  <strong>Nombre5:</strong>
  <%= @special_class.nombre5 %>
</p>

<p>
  <strong>Nombre6:</strong>
  <%= @special_class.nombre6 %>
</p>

<p>
  <strong>Contacto:</strong>
  <%= @special_class.contacto %>
</p>

<p>
  <strong>Email:</strong>
  <%= @special_class.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @special_class.telefono %>
</p>

<p>
  <strong>Comoseenteraron:</strong>
  <%= @special_class.comoseenteraron %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @special_class.descuento %>
</p>

<p>
  <strong>Comentarios:</strong>
  <%= @special_class.comentarios %>
</p>

<%= link_to 'Edit', edit_special_class_path(@special_class) %> |
<%= link_to 'Back', special_classes_path %>
