<div class="row">
  <div class="col-md-6 mb-3">
    <%= render "lessons/agenda" %>
  </div>
  <div class="col-md-6 mb-3">
    <div class="card">
      <div class="card-block">
        <p class="lead">Inscribe un nuevo:</p>
          <%= link_to "ðŸ‘°ðŸ» Matrimonio", new_wedding_path, class: "btn btn-block btn-outline-info", role: "button" %>
          <%= link_to "ðŸ’ƒðŸ» Clase particular", new_special_class_path, class: "btn btn-block btn-outline-info", role: "button" %>
          <%= link_to "ðŸ« Curso", new_course_path, class: "btn btn-block btn-outline-info", role: "button" %>
          <%= link_to "ðŸ™‹ðŸ» Interesada", new_archive_path, class: "btn btn-block btn-outline-info", role: "button" %>
      </div>
    </div>
  </div>
</div>
