<div class="row">
  <div class="col-md-6 mb-3">
    <%= render "lessons/agenda" %>
  </div>
  <div class="col-md-6 mb-3">
    <div class="card">
      <div class="card-block">
        <p class="lead">Inscribe un nuevo:</p>
          <%= link_to "👰🏻 Matrimonio", new_wedding_path, class: "btn btn-block btn-outline-info", role: "button" %>
          <%= link_to "💃🏻 Clase particular", new_special_class_path, class: "btn btn-block btn-outline-info", role: "button" %>
          <%= link_to "🏫 Curso", new_course_path, class: "btn btn-block btn-outline-info", role: "button" %>
          <%= link_to "🙋🏻 Interesada", new_archive_path, class: "btn btn-block btn-outline-info", role: "button" %>
      </div>
    </div>
  </div>
</div>
<p>Total de registros en la aplicación</p>
<div class="card-group">
    <div class="card mb-3">
      <h3 class="display-4 text-center card-title"><%= @matrimonios %></h3>
      <p class="small card-text text-center">matrimonios</p>
    </div>
    <div class="card mb-3">
      <h3 class="display-4 text-center card-title"><%= @clases %></h3>
      <p class="small card-text text-center">clases realizadas y agendadas</p>
    </div>
    <div class="card mb-3">
      <h3 class="display-4 text-center card-title"><%= @alumnas %></h3>
      <p class="small card-text text-center">alumnas en cursos controlados</p>
    </div>
  </div>
</div>
