<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-block">

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-block">
        <p class="lead">¿Qué quieres hacer?</p>
        <%= link_to "Registrar nuevo matrimonio", new_wedding_path, class: "btn btn-block btn-outline-primary", role: "button" %>
        <hr>
        <%= link_to "Registrar alumna de curso", new_student_path, class: "btn btn-block btn-outline-primary", role: "button" %>
        <%= link_to "Registrar nuevo curso", new_course_path, class: "btn btn-block btn-outline-primary", role: "button" %>
        <hr>
        <%= link_to "Registrar nuevo baile en pareja", new_couple_path, class: "btn btn-block btn-outline-primary", role: "button" %>
        <%= link_to "Registrar nueva clase particular", new_special_class_path, class: "btn btn-block btn-outline-primary", role: "button" %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <%= render "lessons/agenda" %>
  </div>
</div>
