<!DOCTYPE html>
<html>
  <head>
    <title>Constanza Prieto</title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Meta tags para el funcionamiento como web app en iOS -->
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <meta name="apple-mobile-web-app-title" content="Constanza Prieto">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- manifest.json para Android -->
    <%= tag(:link, rel: 'manifest', href: asset_url('manifest.json')) %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if user_signed_in? && current_user.admin? %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        ⚠ <strong>HOLA, ADMIN.</strong> Recuerda que tienes todos los permisos sobre todos los usuarios. ⚠
      </div>
      <% end %>
      <% if user_signed_in? %>
      <div class="row">
        <div class="col-12">
          <div class="collapse" id="navbarSuperior">
            <div class="text-muted p-1">
              <div class="row">
                <div class="col">
                  <%= link_to 'Inicio', root_path, class: "btn btn-block btn-primary", role: "button" %>
                  <% if can? :manage, :all %>
                  <%= link_to 'Bloquear horario', bloquearhorario_path, class: "btn btn-block btn-secondary", role: "button" %>
                  <% end %>
                  <%= link_to 'Editar usuario', edit_user_registration_path, class: "btn btn-block btn-outline-warning", role: "button" %>
                  <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class: "btn btn-block btn-outline-danger", role: "button" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="row">
        <div class="col-12">
          <div class="nav-CP-logo mb-3">
            <div class="row justify-content-end">
              <% if user_signed_in? %>
              <div class="col-8">
              <% else %>
              <div class="col-12">
              <% end %>
                <a href="/"><%= image_tag 'logoCP-head.png', :class => "img-fluid d-block mx-auto" %></a>
              </div>
              <% if user_signed_in? %>
              <div class="col-2">
                <a role="button" data-toggle="collapse" data-target="#navbarSuperior" aria-controls="navbarSuperior" aria-expanded="false" aria-label="Ver más navigation"><h3 class="text-center emoji-icon my-3 my-md-2 my-lg-1">⚙️</h3></a>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%# Tarea pendiente: integrar con Bootstrap. %>
          <%= notice %>
          <%= alert %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= yield %>
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
    <nav class="navbar fixed-bottom navbar-light bg-faded nav-CP">
      <div class="container">
      <div class="row">
        <% if can? :manage, :all %>
        <div class="col">
          <%= link_to '👰', weddings_path %>
        </div>
        <div class="col">
          <%= link_to '🏫', courses_path %>
        </div>
        <div class="col">
          <%= link_to '📆', agenda_path %>
        </div>
        <div class="col">
          <%= link_to '🙋', archives_path %>
        </div>
        <div class="col">
          <%= link_to '💃', special_classes_path %>
        </div>
        <% else %>
        <div class="col">
          <p>Estamos trabajando para que puedas ver tus progresos.</p>
        </div>
        <% end %>
      </div>
      </div>
    </nav>
    <% end %>
  </body>
</html>
