<!DOCTYPE html>
<html>
  <head>
    <title>Constanza Prieto</title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Meta tags para el funcionamiento como web app en iOS -->
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <meta name="apple-mobile-web-app-title" content="Constanza Prieto">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- manifest.json para Android -->
    <%= tag(:link, rel: 'manifest', href: asset_url('manifest.json')) %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <nav class="navbar navbar-expand-md navbar-light bg-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCP2" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="<%= root_path %>">
              <%= image_tag 'logoCP-head.png', :width => 30, :height => 30, :class => "d-inline-block align-top" %>
              Constanza Prieto
            </a>
            <% if user_signed_in? %>
            <div class="collapse navbar-collapse" id="navbarCP2">
              <ul class="navbar-nav ml-auto">
                <% if current_user.admin? %>
                <li class="nav-item"><%= link_to '👰', weddings_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to '🏫', courses_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to '📆', agenda_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to '🙋', archives_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to '💃', special_classes_path, class: "nav-link" %></li>
                <% end %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ⚙️
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <%= link_to 'Portada', root_path, class: "dropdown-item" %>
                      <%= link_to 'Editar perfil', edit_user_registration_path, class: "dropdown-item", role: "button" %>
                      <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class: "dropdown-item", role: "button" %>
                  </div>
                </li>
              </ul>
            </div>
            <% end %>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <%# Tarea pendiente: integrar con Bootstrap. %>
            <%= notice %>
            <%= alert %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= yield %>
        </div>
      </div>
    </div><%# /.container %>
  </body>
</html>
