<!DOCTYPE html>
<html>
  <head>
    <title>IntranetCP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <%= notice %>
          <%= alert %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2">
              <a href="<%= root_path %>"><%= image_tag 'logo.png', :class => "img-fluid my-1" %></a>
            </div>
            <% if user_signed_in? %>
            <div class="col-md-1">
              <a href="<%= weddings_path %>"><%= image_tag 'novias.png', :class => "img-fluid my-1 mx-auto d-block" %></a>
            </div>
            <div class="col-md-1">
              <a href="<%= lessons_path %>"><%= image_tag 'clases.png', :class => "img-fluid my-1 mx-auto d-block" %></a>
            </div>
            <div class="col-md-1">
              <a href="<%= destroy_user_session_path %>" data-method="delete"><%= image_tag 'signout.png', :class => "img-fluid my-1 mx-auto d-block" %></a>
            </div>
            <% end %>
          </div>
        </div>
      </div>

<%
=begin

# Menú con barrita

          <nav class="navbar navbar-light bg-faded">
            <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
            <div class="collapse navbar-toggleable-md" id="navbarResponsive">
              <a class="navbar-brand" href="#">Navbar</a>
              <ul class="nav navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="http://example.com" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                  <div class="dropdown-menu" aria-labelledby="responsiveNavbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
              </ul>
              <form class="form-inline float-lg-right">
                <input class="form-control" type="text" placeholder="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
        </div>
      </div>
=end
%>
      <div class="row">
        <div class="col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
